/* About */
.about {
  padding-top: 306px;
  padding-bottom: 224px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1258px) {
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 480px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.webp .about {
  background-image: url("../img/about-background.webp");
}

.no-webp .about {
  background-image: url("../img/about-background.jpg");
}

/* Container */
.about__container {
  display: grid;
  grid-template-columns: minmax(280px, 668px) minmax(280px, 523px);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  align-items: start;
}

@media (max-width: 800px) {
  .about__container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .about__container {
    grid-row-gap: 20px;
  }
}

/* Title */
.about__title {
  grid-column: 1 / -1;

  max-width: 955px;
}

@media (max-width: 480px) {
  .about__title {
    margin-bottom: 0;
  }
}

/* Wrap */
.about__wrap {
  overflow-anchor: none;

  display: grid;
  grid-row-gap: 30px;
}

.about__wrap div {
  display: grid;
  grid-row-gap: 30px;
  overflow-y: hidden;

  height: 254px;
}

.about__wrap p {
  margin: 0;

  color: #fff;

  font-size: 16px;
  line-height: 180%;
}

/* More */
.about__more {
  justify-self: start;

  border: none;

  background-color: transparent;

  color: #fff.6;

  font-size: 16px;
  line-height: 180%;

  cursor: pointer;
}
