/* Header */
.header {
  position: absolute;
  z-index: 10;

  display: grid;

  width: 100%;

  background-color: #fff;
}

@media (min-width: 1024px) {
  .header {
    position: fixed;
  }
}

/* Container */
.header__container {
  position: relative;

  display: grid;
  grid-template-columns: max-content max-content 30px 1fr;
  grid-column-gap: 20px;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 1140px) {
  .header__container {
    grid-template-rows: auto auto;
    grid-template-columns: max-content 30px 1fr;
  }
}

/* Logo */
.header__logo {
  margin-top: -8px;
}

@media (max-width: 685px) {
  .header__logo {
    grid-row-start: 1;
    grid-column-start: 1;
  }
}

/* About */
.header__about {
  margin: 0;

  color: #333.8;

  font-size: 14px;
  line-height: 17px;
}

@media (max-width: 1140px) {
  .header__about {
    display: none;
  }
}

/* Main Nav Open */
.header__main-nav-open {
  width: 30px;
  height: 15px;
  padding: 0;
  border: none;

  background-color: transparent;

  cursor: pointer;
}

@media (max-width: 685px) {
  .header__main-nav-open {
    grid-row-start: 1;
    grid-column-start: 2;
  }
}

.header__main-nav-open span {
  display: block;

  width: 30px;
  height: 3px;
  margin-bottom: 3px;
  border-radius: 3px;

  background-color: #333;

  transition: .3s;
}

.header__main-nav-open span:nth-child(3) {
  width: 20px;
}

.header__main-nav-open span:last-child {
  margin-bottom: 0;
}

.header__main-nav-open:hover span:nth-child(3) {
  width: 30px !important;
}

/* Wrap */
.header__wrap {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-column-gap: 20px;
  align-items: center;
  justify-content: space-between;
  justify-self: end;

  width: 100%;
  max-width: 697px;
}

@media (max-width: 685px) {
  .header__wrap {
    grid-template-columns: 40px 30px minmax(max-content, 1fr);
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    grid-row-gap: 12px;
  }
}

/* Address */
.header__address {
  position: relative;

  padding-left: 32px;

  color: #333;

  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 685px) {
  .header__address {
    grid-row-start: 2;
    grid-column-start: 3;
    justify-self: end;
  }
}

@media (max-width: 390px) {
  .header__address {
    padding-left: 16px;

    font-size: 12px;
  }
}

.header__address::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 24px;
  height: 24px;

  background-image: url("../img/map-pin.svg");
  background-repeat: no-repeat;

  transform: translateY(-50%);
}

@media (max-width: 390px) {
  .header__address::before {
    width: 12px;
    height: 12px;

    background-size: cover;
  }
}

/* Wrap Contact */
.header__wrap-contact {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 12px;
  align-items: center;
}

@media (max-width: 685px) {
  .header__wrap-contact {
    grid-row-start: 2;
    grid-column: 1 / span 2;
  }
}

/* Contact Text */
.header__contact-text {
  margin: 0;

  color: #333.8;

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
}

@media (max-width: 1140px) {
  .header__contact-text {
    display: none;
  }
}

/* List */
.header__list {
  display: grid;
  grid-template-columns: repeat(2, 24px);
  grid-column-gap: 12px;

  margin: 0;
  padding: 0;

  list-style: none;
}

/* Item */
.header__link {
  display: grid;
}

.header__icon {
  color: #333;

  transition: .3s;
}

.header__link:hover .header__icon,
.header__link:focus .header__icon {
  color: #fd1919;
}

/* Wrap Phone */
.header__wrap-phone {
  display: grid;
  justify-items: end;
}

@media (max-width: 685px) {
  .header__wrap-phone {
    grid-row-start: 1;
    grid-column-start: 3;
  }
}

/* Phone */
.header__wrap-phone a {
  color: #333;

  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-decoration: none;
}

@media (max-width: 390px) {
  .header__wrap-phone a {
    font-size: 16px;
  }
}

/* Time */
.header__wrap-phone p {
  position: relative;

  margin: 0;
  padding-left: 8px;

  color: #333.8;

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

@media (max-width: 390px) {
  .header__wrap-phone p {
    font-size: 10px;
  }
}

.header__wrap-phone p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 4px;
  height: 4px;
  border-radius: 50%;

  background-color: #3bfd37;

  transform: translateY(-50%);
}

/* Nav Wrap */
.header__nav-wrap {
  background-color: #1c1c1c;
}

/* Nav Container */
.header__nav-container {
  padding-top: 12px;
  padding-bottom: 12px;
}

@media (max-width: 960px) {
  .header__nav-container {
    padding: 0;
  }
}
