/* Nav */
.nav {
  display: grid;
}

/* Button Open */
.nav__button-open {
  display: none;
}

@media (max-width: 960px) {
  .nav__button-open {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 20px;
    align-items: center;
    justify-content: space-between;

    border: none;

    background-color: transparent;
    color: #fff;

    font-size: 18px;
  }
}

/* List */
.nav__list {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

@media (max-width: 960px) {
  .nav__list {
    grid-template-columns: 1fr;
    justify-items: center;

    padding-top: 20px;
  }
}

/* Link */
.nav__link {
  color: inherit;

  font-size: 18px;
  line-height: 22px;

  text-decoration: none;
}
