/* Service */
.service {
  padding-top: 80px;
  padding-bottom: 160px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .service {
    padding-top: 80px;
    padding-bottom: 140px;
  }
}

@media (max-width: 900px) {
  .service {
    padding-top: 30px;
  }
}

.webp .service {
  background-image: url("../img/service-background.webp");
}

.no-webp .service {
  background-image: url("../img/service-background.jpg");
}

/* Container */
.service__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

/* Title */
.service__title {
  text-transform: none;
}

@media (max-width: 600px) {
  .service__title {
    grid-column: 1 / -1;

    margin-bottom: 10px;
  }
}

/* Lead */
.service__lead {
  align-self: end;
  justify-self: end;

  max-width: 346px;
  margin: 0;

  color: #fff.8;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}

@media (max-width: 600px) {
  .service__lead {
    grid-column: 1 / -1;
    justify-self: start;

    text-align: left;
  }
}

@media (max-width: 480px) {
  .service__lead {
    font-size: 14px;
  }
}

/* List */
.service__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  grid-column: 1 / -1;
  justify-items: center;

  margin: 0;
  margin-bottom: 120px;
  padding: 0;
  padding-top: 50px;

  list-style: none;
}

@media (max-width: 880px) {
  .service__list {
    grid-template-columns: repeat(2, minmax(280px, 1fr));

    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .service__list {
    grid-template-columns: minmax(280px, 1fr);
    justify-items: center;
  }
}

/* Link */
.service__link {
  position: relative;

  display: grid;
  align-items: end;
  overflow: hidden;

  color: #fff;

  text-decoration: none;
}

.service__link h3 {
  z-index: 1;

  grid-area: 1 / 1 / 1 / 1;

  margin: 0;
  padding: 30px;

  font-weight: 600;
  font-size: 22px;
  line-height: 27px;

  transform: scale(1);
}

.service__link img {
  grid-area: 1 / 1 / 1 / 1;

  transition: .3s;
}

.service__link:hover img {
  transform: scale(1.1);
}

.service__w {
  position: absolute;
  top: 13px;
  right: 13px;

  width: 123px;
  height: 123px;
  border-radius: 50%;
}

/* Wrap */
.service__wrap {
  position: relative;

  display: grid;

  grid-column: 1 / -1;
}

/* Form */
.service__form {
  position: relative;
  z-index: 2;

  display: grid;
  grid-row-gap: 30px;

  max-width: 594px;

  padding: 30px;
  border-radius: 6px;

  background: #181818;
}

@media (max-width: 1240px) {
  .service__form {
    justify-self: center;

    width: 100%;
  }
}

.service__form::before {
  position: absolute;
  right: -90px;
  bottom: -60px;

  transform: rotate(30deg);
}

@media (max-width: 1240px) {
  .service__form::before {
    right: 0;
  }
}

@media (max-width: 600px) {
  .service__form::before {
    display: none;
  }
}

.service__puls::before {
  content: "";
  position: absolute;
  bottom: -60px;
  left: 50%;
  z-index: 0;

  width: 228px;
  height: 228px;
  margin-left: -30px;
  border: 1px solid #fff.14;
  border-radius: 50%;

  transform: translateX(-50%);
}

.service__puls::after {
  content: "";
  position: absolute;
  bottom: -60px;
  left: 50%;
  z-index: 0;

  width: 228px;
  height: 228px;
  margin-left: -30px;
  border: 1px solid #fff.14;
  border-radius: 50%;

  transform: translateX(-50%);
  animation: radial-pulse 1s infinite;
}

@media (max-width: 1240px) {
  .service__puls::before,
  .service__puls::after {
    display: none;
  }
}

@keyframes radial-pulse {
  0% {
    bottom: -60px;

    width: 228px;
    height: 228px;

    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    bottom: -120px;

    width: 348px;
    height: 348px;

    opacity: 0;
  }
}

.webp .service__form::before {
  content: url("../img/service-gift.webp");
}

.no-webp .service__form::before {
  content: url("../img/service-gift.png");
}

/* Form Text */
.service__form-text {
  margin: 0;

  font-weight: 600;
  font-size: 26px;
  font-family: var(--ProximaNova);
  line-height: 32px;
}

@media (max-width: 600px) {
  .service__form-text {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .service__form-text {
    font-size: 16px;
    line-height: 20px;
  }
}

/* Button */
.service__button {
  justify-self: start;

  width: 100%;
  max-width: 288px;
  padding: 24px 20px;
  border: none;
  border-radius: 6px;

  background: linear-gradient(180deg, #fd1919 0%, #ea0d0d 100%);
  color: #fff;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  text-transform: uppercase;

  cursor: pointer;

  transition: .3s;
}

@media (max-width: 600px) {
  .service__button {
    justify-self: center;
  }
}

@media (max-width: 600px) {
  .service__button {
    padding: 16px;

    font-size: 14px;
  }
}

.service__button:hover,
.service__button:focus {
  background: linear-gradient(180deg, #fd1919 0%, #ea0d0d 100%);
  box-shadow: 0 0 14px rgba(255, 0, 0, .76);
}

.service__button:active {
  background: linear-gradient(180deg, #cb0e0e 0%, #be0808 100%);
  box-shadow: none;
}

/* Text */
.service__text {
  position: absolute;
  top: 44px;
  left: 50%;

  width: 100%;

  max-width: 270px;
  margin: 0;
  margin-left: 285px;

  color: #fff.8;

  font-size: 16px;
  line-height: 160%;
  text-align: center;

  transform: translateX(-50%);
}

@media (max-width: 1240px) {
  .service__text {
    top: auto;
    bottom: -90px;

    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .service__text {
    bottom: -70px;
  }
}

@media (max-width: 600px) {
  .service__text {
    font-size: 14px;
  }
}

.service__text::before {
  content: url("../img/service-arrow.svg");
  position: absolute;
  bottom: -90px;
  left: -80px;

  transform: rotate(135deg);
}

@media (max-width: 1240px) {
  .service__text::before {
    display: none;
  }
}

.service__text b {
  color: #fff;

  font-weight: 500;
}
