/* Title */
.title {
  margin: 0;

  font-weight: 700;
  font-size: 40px;
  font-family: var(--ProximaNova);
  line-height: 49px;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .title {
    margin-bottom: 10px;

    font-size: 26px;
    line-height: 32px;
  }
}

.title span {
  color: #fd1919;
}
