/* Workers */
.workers {
  position: relative;

  padding-bottom: 120px;

  background-image: url("../img/workers-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.workers::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -130px;

  width: 313px;
  height: 317px;

  background-image: url("../img/speaker-left.png");
  background-repeat: no-repeat;

  transform: rotate(14deg);
}

.workers::after {
  content: "";
  position: absolute;
  right: -85px;
  bottom: -150px;

  width: 295px;
  height: 317px;

  background-image: url("../img/speaker-right.png");
  background-repeat: no-repeat;

  transform: rotate(-5deg);
}

@media (max-width: 1600px) {
  .workers::before,
  .workers::after {
    display: none;
  }
}

.webp .workers {
  background-image: url("../img/workers-background.webp");
}

.no-webp .workers {
  background-image: url("../img/workers-background.jpg");
}

/* Container */
.workers__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

/* Title */
.workers__title {
  max-width: 350px;
}

@media (max-width: 600px) {
  .workers__title {
    grid-column: 1 / -1;
  }
}

/* Lead */
.workers__lead {
  align-self: end;
  justify-self: end;

  max-width: 562px;
  margin: 0;

  color: #fff.8;

  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: right;
}

@media (max-width: 600px) {
  .workers__lead {
    grid-column: 1 / -1;
    justify-self: start;

    text-align: left;
  }
}

@media (max-width: 480px) {
  .workers__lead {
    font-size: 14px;
  }
}

/* Wrap */
.workers__wrap {
  display: grid;
  grid-column: 1 / -1;
  grid-row-gap: 20px;

  padding-top: 30px;
}

/* Buttons */
.workers__buttons {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 20px;
  justify-self: end;

  max-width: 108px;
}

/* Button */
.workers__button {
  display: grid;
  align-self: center;

  padding: 0;
  border: none;

  background-color: transparent;

  cursor: pointer;
}

.workers__button--next {
  transform: rotate(180deg);
}

/* Icon */
.workers__icon {
  color: #fff;

  pointer-events: none;

  fill: none;

  transition: .3s;
}

.workers__button:hover .workers__icon,
.workers__button:focus .workers__icon {
  color: #fd1919;
}

/* Slider */
.workers__slider {
  justify-self: center;
  overflow: hidden;

  max-width: 1218px;
}

@media (max-width: 1260px) {
  .workers__slider {
    max-width: 910px;
  }
}

@media (max-width: 950px) {
  .workers__slider {
    max-width: 602px;
  }
}

@media (max-width: 642px) {
  .workers__slider {
    max-width: 294px;
  }
}

/* List */
.workers__list {
  display: grid;
  grid-template-columns: repeat(100, 294px);

  grid-column-gap: 14px;

  margin: 0;
  padding: 0;

  list-style: none;
}

/* Item */
.workers__item {
  display: grid;
  align-content: start;
  justify-items: center;

  padding: 15px 5px;

  background-image: url("../img/workers-bg.svg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.workers__item h3 {
  margin: 0;
  margin-bottom: 6px;

  font-weight: 600;
  font-size: 26px;
  font-family: var(--ProximaNova);
  line-height: 32px;
  text-align: center;
}

.workers__item p {
  margin: 0;

  color: #fff.7;

  font-size: 15px;
  line-height: 160%;
  text-align: center;
}

.workers__item img {
  order: -1;
}
