@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Montserrat";
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Montserrat";
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "ProximaNova";
  src: local("ProximaNova-Light"), url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "ProximaNova";
  src: local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: "ProximaNova";
  src: local("ProximaNova-SemiBold"), url("../fonts/ProximaNova-SemiBold.woff2") format("woff2"), url("../fonts/ProximaNova-SemiBold.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "ProximaNova";
  src: local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff");

  font-display: swap;
}
